[user]
  name  = yuki_yano
  email = yuki.ycino@gmail.com

[color]
  ui             = auto
  diff           = auto
  diff-highlight = auto

[core]
  autocrlf       = input
  editor         = nvim
  excludesfile   = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global

[alias]
  forget  = checkout --
  unstage = reset --
  cancel  = !git now && git reset --hard HEAD~
  qsave   = !git stash && git stash pop
  plog    = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  fzflog  = !git plog --graph --color=always 2>/dev/null

[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[interactive]
  diffFilter = diff-highlight

[include]
  path = ~/.gitconfig.local
  path = .gitconfig.local

[push]
  default = current

[fetch]
  prune = true

[diff]
  indentHeuristic = true
  compactionHeuristic = true
  renames = true
  mnemonicprefix = false
  tool = nvimdiff

[merge]
  tool = Kaleidoscope

[rebase]
	autostash = true

[help]
  autocorrect = -1

[rerere]
  enabled = true

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[diff-so-fancy]
  markEmptyLines = false
  stripLeadingSymbols = true

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true

[ghq]
  root = ~/repos
  root = ~/go/src

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[url "git://github.com/"]
  insteadOf = https://github.com/

[browse-remote "github.com"]
  top  = https://{host}/{path}
  ref  = https://{host}/{path}/tree/{short_ref}
  rev  = https://{host}/{path}/commit/{commit}
  pr   = https://{host}/{path}/pull/{short_ref}
  file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"

# vim:set expandtab shiftwidth=2 softtabstop=2 tabstop=2 foldenable foldmethod=marker:
