[user]
  name  = yuki_yano
  email = yuki.ycino@gmail.com

[color]
  ui   = auto
  diff = auto

[color "status"]
  added     = green
  changed   = red
  untracked = yellow
  unmerged  = magenta

[core]
  autocrlf       = input
  pager = "{                        \
    if [[ $COLUMNS -ge 160 ]]; then \
      delta --side-by-side;         \
    else                            \
      delta;                        \
    fi                              \
  }"
  editor         = nvim
  excludesfile   = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.gitconfig.local
  path = .gitconfig.local

[status]
  showUntrackedFiles = all

[diff]
  indentHeuristic = true
  compactionHeuristic = true
  renames = true
  mnemonicprefix = false
  tool = nvimdiff

[commit]
  verbose = true

[fetch]
  prune = true

[pull]
  ff = true

[push]
  default = current

[merge]
  conflictStyle = diff3

[rebase]
  autostash = true
  autosquash = true

[alias]
  basebranch = !"basename \"$(git symbolic-ref --short refs/remotes/origin/HEAD)\""

[help]
  autocorrect = -1

[rerere]
  enabled = true

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[diff-so-fancy]
  markEmptyLines = true
  stripLeadingSymbols = false

[ghq]
  root = ~/.go/src
  root = ~/repos

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[url "git://github.com/"]
  insteadOf = https://github.com/

[browse-remote "github.com"]
  top  = https://{host}/{path}
  ref  = https://{host}/{path}/tree/{short_ref}
  rev  = https://{host}/{path}/commit/{commit}
  pr   = https://{host}/{path}/pull/{short_ref}
  file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"

[delta]
  # theme = Nord
  theme = gruvbox
  features = line-numbers decorations

# vim:set expandtab shiftwidth=2 softtabstop=2 tabstop=2 foldenable foldmethod=marker:
