# zsh
/.zsh/cache/
*.zwc

# Vim
/.vim/bundle
/.vim/sessions
/.vim/spell

# Config
/.config/*
!/.config/alacritty/
!/.config/bat/
!/.config/efm-langserver
!/.config/zeno
!/.config/karabiner
/.config/karabiner/automatic_backups
!/.config/nvim
!/.config/previm
!/.config/ripgrep
!/.config/snippets
!/.config/tridactyl
!/.config/vscode
