set clipboard+=unnamed
set hlsearch
set ignorecase
set smartcase
set scrolloff=3
set history=1000
set surround

nnoremap <Esc><Esc> :nohlsearch<CR><Esc>

nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

set visualbell
set noerrorbells
