"*":
  "atom-beautify":
    css:
      beautify_on_save: true
      disabled: true
      end_with_newline: true
      predefinedConfig: "zen"
      selector_separator_newline: true
    erb:
      default_beautifier: "HTML Beautifier"
    html: {}
    js:
      default_beautifier: "ESLint Fixer"
    ruby:
      beautify_on_save: true
    vue: {}
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "autocomplete-plus":
    autoActivationDelay: 50
    confirmCompletion: "enter"
    fileBlacklist: [
      ".map"
    ]
    minimumWordLength: 2
    useCoreMovementCommands: false
  "clip-history":
    max: 100
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "iceberg-syntax"
    ]
  editor:
    fontFamily: "Monaco Nerd Font"
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "94649692-c1b8-4525-b665-1b08d56983a4"
  "highlight-line": {}
  "highlight-selected":
    highlightInPanes: false
  linter: {}
  "linter-eslint": {}
  "linter-flow":
    enableAll: false
    executablePath: "./node_modules/.bin/flow"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  narrow:
    notifiedVimModePlusSpecificDefaultKeymap: true
  "vim-mode-plus":
    flashOnMoveToOccurrence: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapPToPutWithAutoIndent: true
    keymapUnderscoreToReplaceWithRegister: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 20
    neverCloseUnsaved: true
