"*":
  "advanced-open-file":
    fuzzyMatch: true
  "atom-beautify":
    css:
      beautify_on_save: true
      disabled: true
      end_with_newline: true
      predefinedConfig: "zen"
      selector_separator_newline: true
    erb:
      default_beautifier: "HTML Beautifier"
    html: {}
    js:
      default_beautifier: "ESLint Fixer"
    ruby:
      beautify_on_save: true
    vue: {}
  "autocomplete-plus":
    autoActivationDelay: 50
    confirmCompletion: "enter"
    defaultProvider: "Fuzzy"
    fileBlacklist: [
      ".map"
    ]
    minimumWordLength: 2
    useCoreMovementCommands: false
  "clip-history":
    max: 100
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "symbols-view"
      "smart-tab-name"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "iceberg-syntax"
    ]
  "custom-title":
    template: "<%= relativeFilePath %><% if (projectPath) { %> - <%= projectPath %><% } %><%=  %><% if (projectPath) { %> - <%= projectPath %><% } %> "
  editor:
    fontFamily: "Monaco Nerd Font"
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "05ef3208-1cda-8a95-7587-f7ce79ab20d2"
  "highlight-line": {}
  "highlight-selected":
    highlightInPanes: false
  linter: {}
  "linter-eslint": {}
  "linter-flow":
    enableAll: false
    executablePath: "./node_modules/.bin/flow"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "0094ac662eca3e2e69c2465da6e67afd381397b9"
  minimap:
    plugins:
      "git-diff": true
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      semi: false
      singleQuote: true
    useEslint: true
  "rubocop-auto-correct":
    autoRun: true
  stylefmt:
    formatOnSave: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    flashOnMoveToOccurrence: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapPToPutWithAutoIndent: true
    keymapUnderscoreToReplaceWithRegister: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  "vue-stylefmt":
    formatOnSave: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 20
    neverCloseUnsaved: true
