'.platform-darwin':
  'ctrl-g' : 'unset!'

'atom-workspace':
  'ctrl-i'    : 'cursor-history:next'
  'ctrl-o'    : 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

# vim-mode-plus
'atom-text-editor.vim-mode-plus.normal-mode':
  # default
  'space w': 'core:save'
  'space d': 'core:close'
  'space p': 'fuzzy-finder:toggle-file-finder'
  'space b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-p' : 'pane:show-previous-item'
  'ctrl-n' : 'pane:show-next-item'
  'space %': 'tree-view:reveal-active-file'

  # window
  'ctrl-h' : 'window:focus-pane-on-left'
  'ctrl-l' : 'window:focus-pane-on-right'
  'ctrl-k' : 'window:focus-pane-above'
  'ctrl-j' : 'window:focus-pane-below'

  # plugin
  's'      : 'jumpy:toggle'
  'space z': 'vim-mode-plus:maximize-pane'
  'space P': 'clipboard-plus:toggle'

  # narrow
  'cmd-o'          : 'narrow:symbols-by-current-word'
  'enter'          : 'narrow:search-by-current-word'
  'ctrl-z'         : 'narrow:reopen'
  'space /'        : 'narrow:scan'
  'space space /'  : 'narrow:search'
  'space *'        : 'narrow:scan-by-current-word'
  'space space *'  : 'narrow:search-current-project-by-current-word'
  'space t a g'    : 'narrow:symbols'
  'space l i n t'  : 'narrow:linter'
  'space g d'      : 'narrow:git-diff-all'

'atom-text-editor.vim-mode-plus-search':
  'ctrl-m' : 'vim-mode-plus:search-confirm'

'.fuzzy-finder atom-text-editor[mini]':
  'shift-enter': 'fuzzy-finder.preserveLastSearch'

"*":
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "narrow"
      "useCoreMovementCommands": false
    ]
  "vim-mode-plus":
    highlightSearchExcludeScopes: [
      "narrow"
    ]

# insert mode
'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-m': 'editor:newline'
  # emmet
  ', ,': 'emmet:expand-abbreviation'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode':
  'cmd-f': 'narrow:focus'
  'cmd-i': 'narrow:focus-prompt'

'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]':
  'cmd-i': 'narrow:focus-prompt'
  'cmd-s': 'narrow-ui:update-real-file'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  'i'        : 'vim-mode-plus:activate-insert-mode'
  'ctrl-['   : 'narrow:close'
  '-'        : 'narrow-ui:exclude-file'
  '='        : 'narrow-ui:clear-excluded-files'
  's'        : 'narrow-ui:select-files'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"],
atom-text-editor.narrow.narrow-editor.vim-mode-plus.insert-mode[data-grammar="source narrow"]':
  ';'    : 'core:confirm-keep-open'
  "enter": 'core:confirm'

# autocomplete-plus
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-m': 'autocomplete-plus:confirm'
  'enter': 'autocomplete-plus:confirm'

'atom-workspace atom-text-editor.jumpy-jump-mode':
  'ctrl-[': 'jumpy:clear'

'atom-workspace.demo-mode-active atom-text-editor:not([mini])':
  'up': 'demo-mode:move-hover-up'
  'down': 'demo-mode:move-hover-down'
  'left': 'demo-mode:move-hover-left'
  'right': 'demo-mode:move-hover-right'
