:root {
  --tridactyl-fg: #a0a0ff;
  --tridactyl-bg: #1e1e2e;
  --tridactyl-url-fg: #f5e0dc;
  --tridactyl-url-bg: #1e1e2e;
  --tridactyl-highlight-box-bg: #302d41;
  --tridactyl-highlight-box-fg: #a0a0ff;
  --tridactyl-of-fg: #a0a0ff;
  --tridactyl-of-bg: #302d41;
  --tridactyl-cmdl-fg: #1e1e2e;
  --tridactyl-cmdl-font-family: "SF Mono Square";
  --tridactyl-cmplt-font-family: "SF Mono Square";
  --tridactyl-hintspan-font-family: "SF Mono Square";

  --tridactyl-hintspan-fg: #a0a0ff !important;
  --tridactyl-hintspan-bg: #1e1e2e !important;
  --tridactyl-hintspan-font-size: 16px !important;

  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

body {
  opacity: 0.85;
}

#command-line-holder {
  order: 1;
  border: 2px solid #abe9b3;
  color: #1e1e2e;
}

#tridactyl-input {
  color: #a0a0ff;
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.5;
  background: #1e1e2e;
  padding-left: unset;
  padding: 0.5rem;
}

#completions table {
  font-size: 0.8rem;
  font-weight: 200;
  border-spacing: 0;
  table-layout: fixed;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 1rem;
  opacity: 0.9;
}

#completions > div {
  max-height: calc(20 * 1.4em);
  min-height: calc(10 * 1.4em);
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;
  color: #a0a0ff;
  background: #1e1e2e;
  display: inline-block;
  font-size: unset;
  font-weight: 200;
  overflow: hidden;
  width: 100%;
  border-top: unset;
  order: 2;
}

#completions .HistoryCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions .HistoryCompletionSource table {
  width: 100%;
  font-size: 0.9rem;
  border-spacing: 0;
  table-layout: fixed;
}

#completions .BmarkCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#completions .sectionHeader {
  color: #f8bd96;
  background: unset;
  font-weight: 200;
  border-bottom: unset;
  padding: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: unset;
  padding-bottom: 0.2rem;
}

#completions .optionContainer {
  font-size: 0.9rem;
}

#cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 25% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  width: 80% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

.TridactylStatusIndicator {
  position: fixed !important;
  bottom: 0 !important;
  background: #1e1e2e !important;
  border: unset !important;
  border: 1px #abe9b3 solid !important;
  font-size: 12pt !important;
  padding: 0.8ex !important;
}

#completions .focused {
  background: #abe9b3;
  color: #575268;
}

#completions .focused .url {
  background: #abe9b3;
  color: #575268;
}
