<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Activate Item</key>
	<false/>
	<key>Activate On No Modifiers</key>
	<true/>
	<key>Application Exceptions</key>
	<array>
		<string>iTerm</string>
	</array>
	<key>Application Name Shadow</key>
	<true/>
	<key>Auto-Enabled Once</key>
	<true/>
	<key>Cycle All Windows</key>
	<dict>
		<key>Backward</key>
		<dict>
			<key>Character</key>
			<string></string>
			<key>Key Code</key>
			<string>48</string>
			<key>Modifiers</key>
			<string>1179922</string>
			<key>Visual Representation</key>
			<string>⇧⌘⇥</string>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Character</key>
			<string>	</string>
			<key>Key Code</key>
			<string>48</string>
			<key>Modifiers</key>
			<string>1048848</string>
			<key>Visual Representation</key>
			<string>⌘⇥</string>
		</dict>
	</dict>
	<key>Disable Background Process On Quitting</key>
	<false/>
	<key>Ignore Non-Standard Windows</key>
	<true/>
	<key>Keep Cycling</key>
	<true/>
	<key>Last Tab</key>
	<string>triggers</string>
	<key>Panel Delay</key>
	<integer>0</integer>
	<key>Show Application Names</key>
	<true/>
	<key>Show Previews</key>
	<true/>
	<key>Step Forward Initially</key>
	<true/>
	<key>Switch Across Spaces</key>
	<false/>
	<key>Window Exceptions</key>
	<array>
		<string>Format*Palet*</string>
	</array>
	<key>Window Name Shadow</key>
	<true/>
</dict>
</plist>
